form a {
  margin-left: 5px;
}

.invItem{
  margin-left: 5px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 80%;
  padding-bottom: 80%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

body {
  padding-top: 70px;
}

img {
  max-width: 100%;
  height: auto;
}

.post-edit-img {
  max-width: 50%;
  height: auto; 
}
